


<div class="row">
    <div class="content-box" id="FORMVIEW">
    
    </div>
</div>

<style>
    .content-box {
        display: flex;
        gap: 30px;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .content-box > .item-box{
        flex: 1 1 40%;
        background-color: var(--main-brg);
        box-shadow: 0px 0px 19px 0px var(--main-boxshadown);
        padding: 20px 20px 10px 20px;
        cursor: pointer;
        height: 250px;
        max-width: 1600px;
    }
</style>


<script src="js/formview.js"></script>